In [2]:
# -*- coding: utf-8 -*-
"""
author: zengbin93
email: zeng_bin8888@163.com
create_dt: 2023/3/5 20:45
describe: CZSC投研数据共享接口

投研数据共享说明（含下载地址）：https://s0cqcxuy3p.feishu.cn/wiki/wikcnzuPawXtBB7Cj7mqlYZxpDh
"""
import os
import czsc
import glob
import pandas as pd

# 投研共享数据的本地缓存路径，需要根据实际情况修改
cache_path = os.environ.get('czsc_research_cache', r"D:\CZSC投研数据")
if not os.path.exists(cache_path):
    raise ValueError(f"请设置环境变量 czsc_research_cache 为投研共享数据的本地缓存路径，当前路径不存在：{cache_path}。\n\n"
                     f"投研数据共享说明（含下载地址）：https://s0cqcxuy3p.feishu.cn/wiki/wikcnzuPawXtBB7Cj7mqlYZxpDh")


def get_symbols(name, **kwargs):
    """获取指定分组下的所有标的代码

    :param name: 分组名称，可选值：'A股主要指数', 'A股场内基金', '中证500成分股', '期货主力'
    :param kwargs:
    :return:
    """
    if name.upper() == 'ALL':
        files = glob.glob(os.path.join(cache_path, "*", "*.parquet"))
    else:
        files = glob.glob(os.path.join(cache_path, name, "*.parquet"))
    return [os.path.basename(x).replace('.parquet', '') for x in files]

c:\veighna_studio_v39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
symbol = '000008.SZ'
file = glob.glob(os.path.join(cache_path, "*", f"{symbol}.parquet"))[0]
kline = pd.read_parquet(file)

In [4]:
print(kline)

           symbol                  dt     open    close     high      low     vol   amount
0       000008.SZ 2010-01-20 09:31:00  29.5484  29.5484  29.5484  29.5484  133900  1562613
1       000008.SZ 2010-01-20 09:32:00  29.5484  29.5484  29.5484  29.5484   18900   220563
2       000008.SZ 2010-01-20 09:33:00  29.5484  29.5484  29.5484  29.5484    4400    51348
3       000008.SZ 2010-01-20 09:34:00  29.5484  29.5484  29.5484  29.5484   19500   227565
4       000008.SZ 2010-01-20 09:35:00  29.5484  29.5484  29.5484  29.5484    4200    49014
...           ...                 ...      ...      ...      ...      ...     ...      ...
595439  000008.SZ 2022-12-30 14:54:00  51.5384  51.5384  51.7625  51.5384   20200    46623
595440  000008.SZ 2022-12-30 14:55:00  51.7625  51.5384  51.7625  51.5384   21100    48586
595441  000008.SZ 2022-12-30 14:56:00  51.5384  51.5384  51.7625  51.5384  129000   297346
595442  000008.SZ 2022-12-30 14:57:00  51.5384  51.7625  51.7625  51.5384  166500   384428
595443  000008.SZ 2022-12-30 15:00:00  51.5384  51.5384  51.5384  51.5384  279100   641930

[595444 rows x 8 columns]

In [5]:
cache_path2 = r"D:\Github\czsc\crypto\history_data"
symbol2 = 'BTC-USD'
file2 = glob.glob(os.path.join(cache_path2, "*", f"{symbol2}.parquet"))[0]
kline2 = pd.read_parquet(file2)
print(kline2)

                        Datetime          Open          High           Low         Close     Adj Close     Volume
0      2022-06-03 00:00:00+00:00  30467.806641  30471.939453  30387.609375  30402.394531  30402.394531          0
1      2022-06-03 01:00:00+00:00  30397.445312  30626.511719  30387.603516  30608.304688  30608.304688   31490048
2      2022-06-03 02:00:00+00:00  30606.613281  30633.035156  30535.195312  30540.662109  30540.662109          0
3      2022-06-03 03:00:00+00:00  30542.123047  30545.392578  30479.740234  30501.517578  30501.517578          0
4      2022-06-03 04:00:00+00:00  30505.972656  30523.390625  30437.888672  30440.314453  30440.314453          0
...                          ...           ...           ...           ...           ...           ...        ...
17447  2024-05-31 19:00:00+00:00  67337.921875  67865.953125  67292.976562  67738.085938  67738.085938          0
17448  2024-05-31 20:00:00+00:00  67566.375000  67700.585938  67531.203125  67629.085938  67629.085938          0
17449  2024-05-31 21:00:00+00:00  67627.789062  67630.093750  67465.359375  67531.750000  67531.750000   14950400
17450  2024-05-31 22:00:00+00:00  67505.101562  67574.828125  67505.101562  67528.523438  67528.523438          0
17451  2024-05-31 23:00:00+00:00  67519.796875  67550.328125  67182.609375  67488.320312  67488.320312  371447808

[17452 rows x 7 columns]

In [6]:
kline2['symbol'] = symbol2
print(kline2)

                        Datetime          Open          High           Low         Close     Adj Close     Volume   symbol
0      2022-06-03 00:00:00+00:00  30467.806641  30471.939453  30387.609375  30402.394531  30402.394531          0  BTC-USD
1      2022-06-03 01:00:00+00:00  30397.445312  30626.511719  30387.603516  30608.304688  30608.304688   31490048  BTC-USD
2      2022-06-03 02:00:00+00:00  30606.613281  30633.035156  30535.195312  30540.662109  30540.662109          0  BTC-USD
3      2022-06-03 03:00:00+00:00  30542.123047  30545.392578  30479.740234  30501.517578  30501.517578          0  BTC-USD
4      2022-06-03 04:00:00+00:00  30505.972656  30523.390625  30437.888672  30440.314453  30440.314453          0  BTC-USD
...                          ...           ...           ...           ...           ...           ...        ...      ...
17447  2024-05-31 19:00:00+00:00  67337.921875  67865.953125  67292.976562  67738.085938  67738.085938          0  BTC-USD
17448  2024-05-31 20:00:00+00:00  67566.375000  67700.585938  67531.203125  67629.085938  67629.085938          0  BTC-USD
17449  2024-05-31 21:00:00+00:00  67627.789062  67630.093750  67465.359375  67531.750000  67531.750000   14950400  BTC-USD
17450  2024-05-31 22:00:00+00:00  67505.101562  67574.828125  67505.101562  67528.523438  67528.523438          0  BTC-USD
17451  2024-05-31 23:00:00+00:00  67519.796875  67550.328125  67182.609375  67488.320312  67488.320312  371447808  BTC-USD

[17452 rows x 8 columns]

In [7]:
kline2['amount'] = kline2['Volume']/kline2['Close']
print(kline2)

                        Datetime          Open          High           Low         Close     Adj Close     Volume   symbol       amount
0      2022-06-03 00:00:00+00:00  30467.806641  30471.939453  30387.609375  30402.394531  30402.394531          0  BTC-USD     0.000000
1      2022-06-03 01:00:00+00:00  30397.445312  30626.511719  30387.603516  30608.304688  30608.304688   31490048  BTC-USD  1028.807323
2      2022-06-03 02:00:00+00:00  30606.613281  30633.035156  30535.195312  30540.662109  30540.662109          0  BTC-USD     0.000000
3      2022-06-03 03:00:00+00:00  30542.123047  30545.392578  30479.740234  30501.517578  30501.517578          0  BTC-USD     0.000000
4      2022-06-03 04:00:00+00:00  30505.972656  30523.390625  30437.888672  30440.314453  30440.314453          0  BTC-USD     0.000000
...                          ...           ...           ...           ...           ...           ...        ...      ...          ...
17447  2024-05-31 19:00:00+00:00  67337.921875  67865.953125  67292.976562  67738.085938  67738.085938          0  BTC-USD     0.000000
17448  2024-05-31 20:00:00+00:00  67566.375000  67700.585938  67531.203125  67629.085938  67629.085938          0  BTC-USD     0.000000
17449  2024-05-31 21:00:00+00:00  67627.789062  67630.093750  67465.359375  67531.750000  67531.750000   14950400  BTC-USD   221.383275
17450  2024-05-31 22:00:00+00:00  67505.101562  67574.828125  67505.101562  67528.523438  67528.523438          0  BTC-USD     0.000000
17451  2024-05-31 23:00:00+00:00  67519.796875  67550.328125  67182.609375  67488.320312  67488.320312  371447808  BTC-USD  5503.882839

[17452 rows x 9 columns]

In [10]:
kline2.columns

Index(['Datetime', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'symbol', 'amount'], dtype='object')

In [14]:
# #            symbol                  dt     open    close     high      low     vol   amount
kline2 = kline2[[ 'symbol', 'Datetime', 'Open', 'Close', 'High', 'Low', 'Volume','amount']]

In [15]:
kline2.head()

    symbol                   Datetime          Open         Close          High           Low    Volume       amount
0  BTC-USD  2022-06-03 00:00:00+00:00  30467.806641  30402.394531  30471.939453  30387.609375         0     0.000000
1  BTC-USD  2022-06-03 01:00:00+00:00  30397.445312  30608.304688  30626.511719  30387.603516  31490048  1028.807323
2  BTC-USD  2022-06-03 02:00:00+00:00  30606.613281  30540.662109  30633.035156  30535.195312         0     0.000000
3  BTC-USD  2022-06-03 03:00:00+00:00  30542.123047  30501.517578  30545.392578  30479.740234         0     0.000000
4  BTC-USD  2022-06-03 04:00:00+00:00  30505.972656  30440.314453  30523.390625  30437.888672         0     0.000000

In [17]:
kline2.rename(columns={'Datetime':'dt', 'Datetime':'dt', 'Open':'open','Close':'close', 'High': 'high', 'Low':'low', 'Volume':'volume'}, inplace=True)
kline2.head()

C:\Users\Bob.Fu\AppData\Local\Temp\ipykernel_3548\4119268823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kline2.rename(columns={'Datetime':'dt', 'Datetime':'dt', 'Open':'open','Close':'close', 'High': 'high', 'Low':'low', 'Volume':'volume'}, inplace=True)

    symbol                         dt          open         close          high           low    volume       amount
0  BTC-USD  2022-06-03 00:00:00+00:00  30467.806641  30402.394531  30471.939453  30387.609375         0     0.000000
1  BTC-USD  2022-06-03 01:00:00+00:00  30397.445312  30608.304688  30626.511719  30387.603516  31490048  1028.807323
2  BTC-USD  2022-06-03 02:00:00+00:00  30606.613281  30540.662109  30633.035156  30535.195312         0     0.000000
3  BTC-USD  2022-06-03 03:00:00+00:00  30542.123047  30501.517578  30545.392578  30479.740234         0     0.000000
4  BTC-USD  2022-06-03 04:00:00+00:00  30505.972656  30440.314453  30523.390625  30437.888672         0     0.000000

In [20]:
type(kline2.iloc[1,1])

str